<div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HotStock</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stock Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Portfolio Construction</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <button class="btn btn-outline-success mr-2 my-sm-0">Login</button>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>
</div>

<br>
<br>
<div class="container">
  <br>

  <form>
    <div class="row">
      <div class="col">
        <input name="ticker" type="text" class="form-control" placeholder="Stock Ticker" [(ngModel)]="request.ticker">
      </div>
      <div class="col">
        <input name="period" type="text" class="form-control" placeholder="Period" [(ngModel)]="request.period">
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-dark btn-lg btn-block" (click)="getStockData()">Show stock Data</button>

    <div class="mx-auto" style="width: 200px">
    </div>
  </form>

  <br>
  <div *ngIf="showData">
    <table class="table">
      <tr>
        <th>Date</th>
        <th *ngFor="let key of keys">
          {{ key }}
        </th>
      </tr>
      <tr *ngFor="let date of dates; let i = index">
        <td>
          {{ date | date }}
        </td>
        <td *ngFor="let key of keys">
          {{ stockData[key][i] }}
        </td>
      </tr>
    </table>
  </div>
</div>


